<script type="text/javascript">
	var bibtexISQCMC = {
	    ISQCMC_alani: `@inproceedings{ISQCMC_alani,
	    title = {Sonifying Quantum Decoherence on IBM Quantum Devices: Mapping T1 Decoherence Values from Microseconds to Hertz},
	    author = {Alani, Alex},
	    url = {https://doi.org/10.5281/zenodo.10206742},
	    doi = {10.5281/zenodo.10206742},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_carney: `@inproceedings{ISQCMC_carney,
	    title = {Quid Manumit - Freeing the Qubit for Art: Embedded Quantum Simulators for Musical Instruments},
	    author = {Carney, Mark},
	    url = {https://doi.org/10.5281/zenodo.10206737},
	    doi = {10.5281/zenodo.10206737},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_evgi: `@inproceedings{ISQCMC_evgi,
	    title = {Physical Models of Quantum Music},
	    author = {Evgi, Hen Haim Ben},
	    url = {https://doi.org/10.5281/zenodo.10206733},
	    doi = {10.5281/zenodo.10206733},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_itaborai: `@inproceedings{ISQCMC_itaborai,
	    title = {Variational Quantum Harmonizer: Generating Chord Progressions and Other Sonification Methods with the VQE Algorithm},
	    author = {Itaboraí, Paulo Vitor and Schwägerl, Tim and Yáñez, María Aguado and Crippa, Arianna and Jansen, Karl and Miranda, Eduardo Reck and Thomas, Peter},
	    url = {https://doi.org/10.5281/zenodo.10206731},
	    doi = {10.5281/zenodo.10206731},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_mannone: `@inproceedings{ISQCMC_mannone,
	    title = {Quantum Memory of Musical Compositions},
	    author = {Mannone, Maria and Hamido, Omar Costa},
	    url = {https://doi.org/10.5281/zenodo.10206714},
	    doi = {10.5281/zenodo.10206714},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_miranda: `@inproceedings{ISQCMC_miranda,
	    title = {Developing Quantum Reservoir Computing as Machine Learning of Music},
	    author = {Miranda, Eduardo Reck and Shaji, Hari},
	    url = {https://doi.org/10.5281/zenodo.10206712},
	    doi = {10.5281/zenodo.10206712},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_meichanetzidis: `@inproceedings{ISQCMC_meichanetzidis,
	    title = {Quantum Music Generators},
	    author = {Meichanetzidis, Konstantinos},
	    url = {https://doi.org/10.5281/zenodo.10206707},
	    doi = {10.5281/zenodo.10206707},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_rocchesso: `@inproceedings{ISQCMC_rocchesso,
	    title = {Exploration of Quantum Feedback Delay Networks},
	    author = {Rocchesso, Davide},
	    url = {https://doi.org/10.5281/zenodo.10206705},
	    doi = {10.5281/zenodo.10206705},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_schwarzer: `@inproceedings{ISQCMC_schwarzer,
	    title = {Quantum Harmonies: An Artistic Exploration of Geiger Counter Measurements and Simulated Quantum Circuitry},
	    author = {Schwarzer, Adrian},
	    url = {https://doi.org/10.5281/zenodo.10206695},
	    doi = {10.5281/zenodo.10206695},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_smith: `@inproceedings{ISQCMC_smith,
	    title = {Sonifying Quantum Superpositions by Correlating State Probability to Rhythmic Density},
	    author = {Smith, Walker and Volkov, Dmitri and Alani, Alex},
	    url = {https://doi.org/10.5281/zenodo.10206656},
	    doi = {10.5281/zenodo.10206656},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_topel: `@inproceedings{ISQCMC_topel,
	    title = {Quantum Circuit Simulations on Multi-Channel Sound Systems},
	    author = {Topel, Spencer and Kuklinski, Parker},
	    url = {https://doi.org/10.5281/zenodo.10206646},
	    doi = {10.5281/zenodo.10206646},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_utku: `@inproceedings{ISQCMC_uktu,
	    title = {Constrained Randomness in Musical Form Using Quantum Computational Algorithms},
	    author = {Utku, Eren},
	    url = {https://doi.org/10.5281/zenodo.10206642},
	    doi = {10.5281/zenodo.10206642},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_wootton: `@inproceedings{ISQCMC_wootton,
	    title = {Investigating the usefulness of Quantum Blur},
	    author = {Wootton, James and Pfaffhauser, Marcel},
	    url = {https://doi.org/10.5281/zenodo.10206640},
	    doi = {10.5281/zenodo.10206640},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_yamada: `@inproceedings{ISQCMC_yamada,
	    title = {Towards the Intuitive Understanding of Quantum World: Sonification of Rabi Oscillations, Wigner functions, and Quantum Simulators},
	    author = {Yamada, Reiko and Piñol, Eloy and Grandi, Samuele and Zakrzewski, Jakub and Lewenstein, Maciej},
	    url = {https://doi.org/10.5281/zenodo.10206508},
	    doi = {10.5281/zenodo.10206508},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`,

	    ISQCMC_yanez: `@inproceedings{ISQCMC_yanez,
	    title = {Developing a Quantum Step-sequencer},
	    author = {Yáñez, María Aguado},
	    url = {https://doi.org/10.5281/zenodo.10206500},
	    doi = {10.5281/zenodo.10206500},
	    presentation-video = {https://youtu.be/},
	    address = {Berlin},
	    booktitle = {2nd International Symposium on Quantum Computing and Musical Creativity (ISQCMC Berlin)},
	    day = {05},
	    month = {October},
	    year = {2023}
	    }`
	}
</script>
