<style>
  .container-lg, .container-xl, .container-md{ 
    max-width: 600px;
  }
  h1>a {
    color: black;
  }
  @media (min-width: 600px){
    .footer {
      position: static;
      bottom: 0;
      right: 50px;
      padding-bottom: 50px;
    }
    h1 {
      padding-top: 100px;
    }
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    font-size:12px;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0;
  }
</style>
